.container-chat {
    margin: 3rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    border-color: white;
  }
  
  .chatWindow {
    border-radius: 10px;
    width: 100%;
    height: 325px;
    padding: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .messageBubble {
    max-width: 75%;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .userBubble {
    background-color: #C1FF72;
    color: black;
    align-self: flex-end;
  }
  
  .botBubble {
    border: 1px solid;
    border-radius: 10px;
    border-color: white;
    color: white;
    align-self: flex-start;
  }
  
  .inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  
  .inputBox {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    color: black;
  }
  
  .inputBox:focus {
    outline: none;
  }
  
  .sendButton {
    border-color: #C1FF72;
    color: #C1FF72;
    border: 1px solid;
    border-radius: 5px;
    padding: 8px 30px;
    cursor: pointer;
  }
  
  .sendButton:hover {
    background-color: #C1FF72;
    color: black;
  }
  
  .sendButton:focus {
    outline: none;
  }
  