.form-container {
    border: 1px solid;
    border-color: #8F8F8F !important;
    background-color: #1d1d1d;
    border-radius: 20px;
    padding: 30px 35px;
}

.email {
    background-color: #0A0A0A;
    color: white;
    padding: 10px 15px;
    border-color: #8F8F8F !important;
}

.email::placeholder {
    color: #8F8F8F;
    border-color: #8F8F8F !important;
}

.email:focus {
    background-color: #0A0A0A;
    color: white;
    border-color: #8F8F8F !important;
}

.message {
    height: 250px;
}

.message-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.policy {
    color: #8F8F8F;
    font-size: 12px;
}

.info-text {
    color: #8F8F8F;
}

.info-header {
    color: white;
}