.container-pricing {
    background-color: #272727;
    border: 1px solid;
    border-color: #888888;
    border-radius: 15px;
}

.text-detail {
    color: #8F8F8F;
}

.border-divider {
    border-right: 1px solid;
    border-color: #888888;
}

@media (max-width: 768px) {
    .border-divider {
        border: 0px solid;
        border-bottom: 1px solid;
        padding-bottom: 50px;
    }
}